[Unit]
Description=Minecraft Server ATM10
After=network.target

[Service]
User=mc
WorkingDirectory=/home/mc/ATM10
ExecStart=/bin/bash /home/mc/ATM10/startserver.sh nogui
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
